@charset "utf-8";
/* CSS Document */

#slider_paralel h4	{color:#FFF;margin: 0;}
#slider_paralel .paralel_s	{ position:absolute; bottom:0px; left:0; padding:18px 20px 21px 20px;}
#slider_paralel .paralel_b	{position:absolute; bottom:0px; left:0; padding:0 20px 17px 20px;}
#slider_paralel .paralel_b_title	{ padding-bottom:0; padding: 17px 0 10px;}
#slider_paralel .paralel_b_desc	{ color:#CCC;}
